.Pricing .tables {
  margin: 70px auto 0;
}
.Pricing .tables {
  display: flex;
  justify-content: space-evenly;
}
.Pricing [class*="pricing-"] {
  text-align: center;
  padding: 20px 50px;
  border-radius: 30px;
  color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.Pricing ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.Pricing li {
  margin-top: 25px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Pricing li svg {
  margin-right: 10px;
}
.Pricing button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-family: "Poppins";
}
.Pricing .pricing-one {
  background-image: linear-gradient(to right bottom, #0172ff, #00c6fe);
  position: relative;
}
.Pricing .pricing-one button {
  color: #017cff;
  font-size: 0.9em;
}
.Pricing .pricing-two {
  background-image: linear-gradient(to right bottom, #ea334a, rgba(240, 88, 65, 0.856));
}
.Pricing .pricing-two button {
  color: #eb394c;
  font-size: 0.9em;
}
.Pricing .pricing-three {
  background: linear-gradient(to bottom right, #8e2de2, #4a00e0);
}
.Pricing .pricing-three button {
  color: #4425ff;
  font-size: 0.9em;
}
/* sytling pricing Amount*/
.Pricing .Amount-wrapper {
  position: relative;
}
.Pricing .amount {
  font-size: 60px;
}
.Pricing .perWebsite {
  font-size: 10px;
  letter-spacing: 2px;
}
.Pricing .currency {
  z-index: 2;
  position: absolute;
  left: -12%;
  bottom: 132%;
}
@media only screen and (max-width: 1024px) {
  .Pricing .tables {
    flex-wrap: wrap;
  }
  .Pricing [class*="pricing-"] {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 425px) {
  .Pricing [class*="pricing-"] {
    width: 60%;
  }
}
