.Payment {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  scrollbar-color: rgba(118, 116, 255, 0.705) #c2d2e4;
  scrollbar-width: thin;
}
.Payment section {
  margin: 60px auto 0;
  width: 40%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  transition: all 1 ease;
  text-align: center;
}
.Payment section div {
  width: 100%;
}
.Payment section {
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.Payment::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}

.Payment::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgba(70, 67, 255, 0.705)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgba(118, 116, 255, 0.705))
  );
}

.Payment .payment-close {
  float: right;
  cursor: pointer;
  margin: 10px 10px 0 0;
}

@media only screen and (max-width: 1024px) {
  .Payment section {
    width: 50%;
  }
}
@media only screen and (max-width: 425px) {
  .Payment section {
    width: 70%;
  }
}
