.About {
  margin-top: 50px;
}
.About .AboutRow-1 {
  display: flex;
  justify-content: space-around;
}
.About .image-container {
  /* background-color: rgb(180, 219, 255); */
  height: 580px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(./blob-shape.svg);
  background-size: 35em;
  background-position: bottom center;
  background-repeat: no-repeat;
  transform: translate(50px, -30px);
}

.AboutRow-1 img {
  height: 500px;
  width: 280px;
}

.AboutRow-1 p {
  color: #707070;
}
.about-content {
  width: 50%;
}
.about-content .position {
  font-style: italic;
  margin-top: 0;
  font-size: 0.9em;
}
.about-content h3 {
  margin-bottom: 0;
}
/* skills */
.About .skill {
  width: 90%;
  color: #707070;
  margin-bottom: 20px;
}
.About .title-skill {
  display: flex;
  justify-content: space-between;
}
.About .fill-container {
  background-color: #ebebeb;
  border-radius: 30px;
  border: 4px solid #ebebeb;
  width: 100%;
}
.About .percentage {
  margin-right: 45px;
}
.skill .fill-container [class*="fill-"] {
  background: linear-gradient(to left, #9133fd, #5526ff);
  padding: 4px;
  border-radius: 30px;
  max-width: 0%;
}
/* skill level animation */
.About .wobble [class*="fill-"] {
  max-width: 90%;
  transition: all 2s ease;
  cursor: pointer;
}
.About .wobble [class*="fill-js"] {
  max-width: 80%;
  transition: all 2s ease;
  cursor: pointer;
}
.About .wobble[class*="fill-react"] {
  max-width: 70%;
  transition: all 2s ease;
  cursor: pointer;
}
.About .wobble [class*="fill-flutter"] {
  max-width: 60%;
  transition: all 2s ease;
  cursor: pointer;
}
/* responsive*/
@media only screen and (max-width: 1024px) {
  .About .AboutRow-1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .About .image-container {
    height: 500px;
    width: 450px;
    transform: none;
    background-size: cover;

  }
  .About .about-content {
    width: 90%;
  }
  .AboutRow-1 img {
    height: 500px;
    width: 280px;
  }
  .About .skill {
    width: 100%;
    color: #707070;
    margin-bottom: 20px;
  }
  .wobble{
    margin:0;
    padding: 0;
  }
}
