.Popup {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Popup .formWrapper {
  width: 50%;
  height: 75%;
  background-color: #ffff;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.Popup .close-icon {
  cursor: pointer;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.Popup .formWrapper {
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.Popup form {
  margin: 20px auto 0;
  width: 90%;
  padding: 10px;
  font-size: 0.8em;
}
.Popup form label {
  display: block;
}
.Popup form div:not(.textarea) {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.Popup form span {
  width: 49%;
  padding: 0;
}
.Popup input,
select {
  width: 99.5%;
  padding: 6px;
  border: 1px solid #cccc;
  border-radius: 2px;
  color: #525252;
  box-sizing: border-box;
}
.Popup select:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px rgba(0, 119, 255, 0.616);
}
.Popup input:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px rgba(0, 119, 255, 0.616);
}

.Popup textarea {
  width: 99%;
  height: 100px;
  border: 1px solid #cccc;
}
.Popup textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px rgba(0, 119, 255, 0.616);
}
.Popup textarea,
button {
  display: block;
  border-radius: 2px;
}
.Popup button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: linear-gradient(to bottom right, #8e2de2, #4a00e0);
  font-size: 1em;
  color: #fff;
  border-radius: 3px;
  transition: all 0.5s ease;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Popup button .send {
  margin-left: 5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* Responsive */
@media only screen and (max-width: 1024px) {
  .Popup .formWrapper {
    margin: 1px auto 0;
    width: 90%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}
