.App {
  height: 100%;
  width: 100%;
}
.App svg {
  top: -60%;
  z-index: 3;
}
/* fixed line color bewllow the fullscreen */
.App .divider {
  height: 10px;
  margin-top: -1.5px;
  background-color: #FBFCFF;
}
