.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.App svg {
  top: -60%;
  z-index: 3;
}
/* fixed line color bewllow the fullscreen */
.App .divider {
  height: 10px;
  margin-top: -1.5px;
  background-color: #fbfcff;
}

::-webkit-scrollbar {
  width: 10px;
  z-index: 10000;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius:10px;
  z-index: 10000;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(165, 165, 165, 0.8);
  border-radius: 10px;
  z-index: 10000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  z-index: 10000;
}


