header {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.082);
  position: fixed;
  top: 0;
  z-index: 100;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.1s ease;
}
header .brand {
  margin-left: 25px;
}
header nav {
  margin-left: 10px;
}
.Nav ul {
  list-style-type: none;
}
.Nav li {
  display: inline;
}
.Nav li .menu {
  padding: 10px 25px;
  text-decoration: none;
  color: #ffff;
  font-size: 1.1em;
  transition: all 0.5s ease-in;
  transition: none;
}
.Nav li a:hover {
  color: #ffff;
  transition: all 0.5s ease-in;
}
.Nav [class*="social-"] {
  margin: 10px 40px 0 auto;
  padding: 0;
}
[class*="social-"] a {
  margin-left: 15px;
  color: #fff;
}
.brand img {
  height: 50px;
  width: 52px;
}
.toggle {
  margin-left: auto;
  margin-right: 25px;
  cursor: pointer;
  display: none;
}
.toggle div {
  height: 3px;
  width: 30px;
  margin-top: 4px;
  background-color: #fff;
  border-radius: 30px;
}
.Nav .logoScroll {
  display: none;
}
@media only screen and (max-width: 1024px) {
  header {
    background: #7926ff;
  }
  header nav {
    display: none;
  }
  header .hamburger {
    display: block;
    margin-right: 25px;
  }
  .brand img {
    height: 40px;
    width: 42px;
  }
  .social-top {
    display: none;
  }
  .toggle {
    display: block;
  }
}

.scrolled {
  background-color: #ffff;
  height: 60px;
  transition: all 0.3s ease;
  border-bottom: none;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}
.Nav .social-scroll{
  display: none;
}
.scrolled .newMenu {
  color: #707070 !important;
  transition: none;
}
.scrolled .logo-default {
  display: none !important;
}
.scrolled .logo-scroll {
  display: block !important;
}

.scrolled .social-default {
  display: none;
}
.scrolled .social-scroll{
 display: block;
}